/* //////// REALIZA CAMBIOS EN TODA LA PAGINA, EN TOOODA LA PAGINA ///////// */
*{
    color: black;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: sans-serif;
    
}
/* //////// LO DE MAS ARRIBA. EL NAVEGADOR, ETC. ///////// */
header a.logo img{
    height: 140px;
    width: 200px;
    margin-left: 20px;
    padding-bottom:10px ;
}

header{
    display: flex;
    font-size: 16px;
    padding-top: 15px;
    justify-content: space-between;
    min-height: 70px;
}

header div.optionsUp{
    padding-top: 70px;
    word-spacing: 10px;
    padding-right: 20px;
    padding-left:  20px;

}

/* //////// PARTE IMPORTANTE DE LA PAGINA. LA QUE SE VE APENAS INGRESAS ///////// */
article{
    background-image: linear-gradient(
        rgba(26, 26, 26, 0.2),
        rgba(26, 26, 26, 0.2)
    ),url(img/Parque.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: auto;
    max-height: auto;
    background-size:cover;
    background-position: center;
    height: 700px;
}
article h1{
    color: white;
    text-align: justify;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif; 
    padding-top: 300px;
    text-align: center;
    font-size: 50px;
}

/* //////// 2da parte de la pagina debajo de la imagen ///////// */
section{
    background-color: rgb(212, 228, 228);
    min-height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section div.intros{
    width: 60%;
    padding-left: 25px;
    align-items: center;
    justify-content: center;
}

section div.intros h3{
    padding-top: 20px;
    text-align: center;
}

section p.intro2{
    text-align: justify;
    margin-top: 20px;
}

section div.things{
    width: 70%;
    padding-top: 20px;
    text-align: center;
}

/* CAMBIOS EN LA PARTE DE SERVICIOS */

section.servicios{
    background-color: white;
    display: flex;
    justify-content: space-between;
}

section.servicios div.mant{
    text-align: center;
    margin: 5px 5px;
    width: 300px;
    height: 230px;
    background-color: wheat;
}

section.servicios div.mant img{
    width: 100%;
    height: 100%;
}

section.servicios div.podas{
    text-align: center;
    margin: 5px 5px;
    width: 300px;
    height: 230px;
    background-color: wheat;
}

section.servicios div.podas img{
    width: 100%;
    height: 100%;
}

section.servicios div.riego{
    text-align: center;
    margin: 5px 5px;
    width: 300px;
    height: 230px;
    background-color: wheat;
}

section.servicios div.riego img{
    width: 100%;
    height: 100%;
}

section.servicios div.suelos{
    text-align: center;
    margin: 5px 5px;
    width: 300px;
    height: 230px;
    background-color: wheat;
}

section.servicios div.suelos img{
    width: 100%;
    height: 100%;
}


/* //////// PARTE DE LOS 'A' AL PASAR EL MOUSE POR ENCIMA ///////// */
a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover{
    color: rgb(110, 226, 38);
    font-size: 18.5px;
}

/* //////// PARTE FINAL DE LA PAGINA. LO DE MAS ABAJO ///////// */
.bottom .optionsDown{
    text-align: center;
    word-spacing: px;
}

.bottom {
    height: 100px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
.bottom p{
    text-align: center;
}