/* //////// REALIZA CAMBIOS EN TODA LA PAGINA, EN TOOODA LA PAGINA ///////// */
*{
    color: black;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: sans-serif;
    
}
/* //////// LO DE MAS ARRIBA. EL NAVEGADOR, ETC. ///////// */
header a.logo img{
    height: 140px;
    width: 200px;
    margin-left: 20px;
    padding-bottom:10px ;
}

header{
    display: flex;
    font-size: 16px;
    padding-top: 15px;
    justify-content: space-between;
    min-height: 70px;
}

header div.optionsUp{
    padding-top: 70px;
    word-spacing: 10px;
    padding-right: 20px;
    padding-left:  20px;

}

/* //////// PARTE IMPORTANTE DE LA PAGINA. LA QUE SE VE APENAS INGRESAS ///////// */
article{
    background-image: linear-gradient(
        rgba(26, 26, 26, 0.2),
        rgba(26, 26, 26, 0.2)
    ),url(img/Parque.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: auto;
    max-height: auto;
    background-size:cover;
    background-position: center;
    height: 700px;
}
article h1{
    color: white;
    text-align: justify;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif; 
    padding-top: 300px;
    text-align: center;
    font-size: 50px;
}

/* //////// 2da parte de la pagina debajo de la imagen ///////// */
section.first{
    background-color: rgb(235, 235, 235);
    min-height: 200px;
    display: block;
    align-items: center;
    justify-content: center;
}

section div.intros{
    padding: 10px 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section div.intros h3{
    padding-top: 10px;
}

section p.intro2{
    margin-top: 10px;
}

section.first ul{
    list-style-type: none;
    margin-top: 10px;
}

section.first div.intros{
    view-timeline-name: --image;
    view-timeline-axis: block;
    
    animation-timeline: --image;
    animation-name: show;
    
    animation-range: entry 25% cover 40%;
    animation-fill-mode: both;
}

/* CAMBIOS EN LA PARTE DE SERVICIOS */
div.tituloServicio{
    padding-top: 20px;
    text-align: center;
    background-color: rgba(19, 80, 4, 0.247);
}

section.servicios{
    padding: 0px 20px;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: rgba(19, 80, 4, 0.247);
    display: flex;
    justify-content: space-between;
}

section.servicios img{
    border-radius: 25px;
    min-width: 100px;
}

section.servicios div.mant{
    text-align: center;
    margin: 5px 5px;
    width: 300px;
    height: 230px;
}

section.servicios div.mant img{
    padding-top: 5px;
    width: 100%;
    height: 100%;
    min-width: auto;
    min-height: auto;
}

section.servicios div.podas{
    text-align: center;
    margin: 5px 5px;
    width: 300px;
    height: 230px;
}

section.servicios div.podas img{
    padding-top: 5px;
    width: 100%;
    height: 100%;
}

section.servicios div.riego{
    text-align: center;
    margin: 5px 5px;
    width: 300px;
    height: 230px;
}

section.servicios div.riego img{
    padding-top: 5px;
    width: 100%;
    height: 100%;
}

section.servicios div.suelos{
    text-align: center;
    margin: 5px 5px;
    width: 300px;
    height: 230px;
}

section.servicios div.suelos img{
    padding-top: 5px;
    width: 100%;
    height: 100%;
}


/* //////// PARTE DE LOS 'A' AL PASAR EL MOUSE POR ENCIMA ///////// */
a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover{
    color: rgb(110, 226, 38);
    font-size: 19px;
}

/* //////// PARTE FINAL DE LA PAGINA. LO DE MAS ABAJO ///////// */
.bottom .optionsDown{
    text-align: center;
    word-spacing: 30px;
}

.bottom .optionsDown a.rrhh{
    word-spacing: 0px;
}

.bottom {
    height: 100px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
.bottom p{
    text-align: center;
}

/* //////// CAMBIOS EN EL SCROLLBAR ///////// */
body::-webkit-scrollbar{
    width: 6px;
}

body::-webkit-scrollbar-thumb{
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    
}

/* //////// ANIMACION AL SCROLEAR ///////// */
@keyframes show{
    from {
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}

section.servicios img{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 25% cover 40%;
    animation-fill-mode: both;
}

.title-slider h2{
    text-align: center;
    padding: 20px 0px;
}


.slider{
    width: 90%;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track{
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(250px * 30);
}

.slider .slide{
    display: flex;
    width: 250px;
}

.slider .slide img{
    padding: 0 40px;
    width: 150px;

}

@keyframes scroll{
    0%{
        -webkit-transform: translateX(0);
        transform:translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-200px * 20));
        transform: translateX(calc(-200px * 20));
    }
}
