*{
    color: black;
    text-align: justify;
    margin-left: 0;
    margin-right: 0;
    border-left: 0;
    border-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
header{
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
    background-color: coral; /*Borrar luego. Es para tener una de donde se situaran las cosas */
    height: 100px;
}

article{
    background-image: url(img/Parque.jpg);
    background-repeat: no-repeat;

    max-width: 1519px;
    background-size: 1600px ;
    height: 500px;
}
article p.intro{
    color: white;
    text-align: justify;
    padding-top: 150px;
    text-align: center;
}

article p.intro2{
    color: white;
    text-align: justify;
    padding-top: 100px;
    text-align: center;
}


a{
    text-decoration: none;
}

a:hover{
    color: white;
    font-size: 18.5px;
}

.bottom {
    background-color: coral; /*Borrar luego. Es para tener una de donde se situaran las cosas */
    height: 100px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
.bottom p{
    text-align: center;
}